/*box sizing*/
* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;}

/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*typography*/

i {
	font-style: italic;
}
h2 {
	text-align: center;
	font-weight: 300;
	font-size: 2.618em;
	color: rgb(112,57,91);
}
p {
	color: rgb(80,80,80);
	padding: 10px 30px;
}

/*layout*/

body {
	background: url('img/satinweave.png') repeat left top;
}
#main-content {
	position: relative;
	width: 900px;
	margin: 30px auto;
}
section {
	margin: 30px;
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#main-image {
	position: relative;
	width: 23%;
	margin: 0 auto;
	max-width: 300px;
}
#main-image img {
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 3px 7px rgba(0,0,0,0.3);
}

/*Media queries*/

/*tablets*/
@media screen and (max-width: 800px) { 

#main-content {
	width: 98%;
}
#main-image {
	width: 30%;
}
}

/*smartphones*/
@media screen and (max-width: 480px) { 

#main-content {
	width: 100%;
}
#main-image {
	width: 50%;
}
section {
	margin: 0;
}
p {
	padding: 15px;
}
}